<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OmniCloud Demo App</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")
    
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <!--Navbar-->

        <nav class="navbar navbar-dark bg-primary">

            <!-- Collapse button-->
            @*<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
                <i class="fa fa-bars"></i>
            </button>*@
                <!--Collapse content-->
                <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                    <!--Navbar Brand-->
                    @*<a class="navbar-brand" href="#"><img class="img-fluid" style="max-height:50px" src="~/images/adm.png" /></a>*@
                    <a class="navbar-brand" href="#"><h4>CloudTrade</h4></a>
                    <!--Links-->
                                                       
                </div>
                <!--/.Collapse content-->
            
                <ul class="nav navbar-right top-nav pull-right">
                    @*<li style="margin-top:8px"><img class="img-responsive img-circle" width="45" height="45" src=@imgSrc> <a href="#" class="dropdown-toggle" style="color:white" data-toggle="dropdown">@ViewBag.UserName<b class="caret"></b></a></li>*@
                   
                </ul>
               
        </nav>
        <!--/.Navbar-->

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- Trigger the modal with a button -->
    <!-- Div -->
    <div class="modal fade" id="messageDiv" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header modal-header-info" style="background:skyblue">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- /#wrapper -->

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click','.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            //$('body').on('click', '.modal-close-btn', function () {
            //    $('#modal-container').modal('hide');
            //});

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
       
    </script>

</body>
</html>
